[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group user/yiliayang-ytt
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yiliayang-ytt
	label-Verified = -1..+1 group user/yiliayang-ytt
	push = group user/yiliayang-ytt
	read = group user/yiliayang-ytt
	rebase = group user/yiliayang-ytt
	removeReviewer = group user/yiliayang-ytt
	submit = group user/yiliayang-ytt
[access "refs/heads/*"]
	create = group user/yiliayang-ytt
	push = +force group user/yiliayang-ytt
	pushMerge = deny group user/yiliayang-ytt
	read = deny group user/yiliayang-ytt
[access "refs/tags/*"]
	push = group user/yiliayang-ytt
	push = +force group user/yiliayang-ytt
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
